.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #333;
    margin: 80px;
    margin-left: 0;

    .cart {
        padding: 10px;
    }

    .bottom {
        .checkout {
            &-btn {
                border-top: 1px solid #333;
                padding: 10px;
                text-align: center;
                background-color: #eee;
                color: #aaa;
    
                &-active {
                    color: white;
                    background-color: black;
                    cursor: pointer;
                }
            }
        }

        .total {
            position: relative; 
            bottom: 0;
            padding: 10px;
            border-top: 1px solid #333;;
        }
    }
}

@media screen and (max-width: 850px) {
    .cart-container {
        max-height: 100%;
        margin: 40px 0;

        .cart {
            padding: 10px;
            overflow-y: scroll;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .cart-container {
        margin-bottom: 40px;
        font-size: .9rem;
    }
}