.filter-container {
    margin-left: 80px;
    margin-top: 80px;
    
    .filters {
        border: 1px solid #ccc;
        
        .filter {
            border-bottom: 1px solid #ccc;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ddd;
                gap: 10px;
                user-select: none;
                padding: 10px;
                cursor: pointer;
            }

            .filterType {
                display: none;
            }

            .openFilter {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin: 10px;

                label {
                    margin-left: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .filter-container {
        padding-top: 40px;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
}