.filter-container {
    width: 100%;
    
    .filters {
        border: 1px solid #ccc;
        
        .filter {
            border-bottom: 1px solid #ccc;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ddd;
                gap: 10px;
                user-select: none;
                padding: 10px;
                cursor: pointer;
            }

            .filterType {
                display: none;
            }

            .openFilter {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin: 10px;

                label {
                    margin-left: 5px;
                }
            }
        }
    }
}