@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 100%;

    ::selection {
        background: black;
        color: rgb(190, 11, 11);
    }
}

.container {
    display: grid;
    grid-template-columns: .75fr 3fr 1.25fr;
    gap: 100px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
    .container {
        padding: 0 40px;
        grid-template-columns: minmax(min(100px), .5fr) 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}