.sneakers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: max-content;
    gap: 30px; 
    padding-top: 80px;
    padding-bottom: 80px;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .sneaker {
        border: 1px solid #ccc;
        cursor: pointer;

        img {
            border-bottom: 1px solid #ccc;
            background-color: #eaeaea;
            width: 100%;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            padding: 10px;
        }
    }
}

@media screen and (max-width: 850px) {
    .sneakers-container {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        padding: 40px 0;
        justify-content: center;
        gap: 20px;
        margin: 0;

        .sneaker {
            .details {
                font-size: .9rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .sneakers-container {
        display: flex; 
        flex-wrap: wrap;
        padding: 40px 0;
        justify-content: center;
        gap: 20px;
        margin: 0;
        width: 100%;

        .sneaker {
            width: 100%;

            .details {
                font-size: .9rem;
            }
        }
    }
}